@keyframes fontFadeIn{
    0%{
        opacity: 0;
        letter-spacing: 0px;
    }

    100%{
        opacity: 1;
        letter-spacing: 15px;
    }
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-3rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}