.u-centered-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-margin-top-sm{
    margin-top: 2rem;
}

.u-margin-top-md{
    margin-top: 4rem;
}

.u-margin-top-lg{
    margin-top: 6rem;
}