.PopUpPage{
    position: fixed;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
    transition: all .5s;
}

.hidePopUp{
    display: none;
}